

*{
  margin: 0px;
  padding: 0px;
}
body {
  justify-content: center;
  align-items: center;
  background-image: url(../images/bluee.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }


#divk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


#divImg img {
  width: 100px;
}


#navv ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#navv ul li {
  display: inline;
}

#navv ul li a {
  text-decoration: none;
  color: rgb(9, 58, 127);
  font-size: 18px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

#navv ul li a:hover {
  background-color: rgb(61, 59, 59);
  color: white;
  border-radius: 5px;
  text-decoration: underline;
}
@media (max-width: 768px) {
  #divk {
    flex-direction: column;
    text-align: center;
  }

  #navv ul {
    flex-direction: column;
    gap: 10px;
  }
}
