 body{
    background-color: rgb(255, 218, 224);
    background-image: url(mnht.jpg);
    background-repeat: no-repeat;
    /* backgroung-position: 200px 200px;*/
    background-size: cover;
    background-attachment: fixed;

 }
 #div1{
    border: 1px solid black;
    width: 700px;
    height: 400px;
    background-image: url(nyc.jpg);
 }
 div2{
   border: 1px solid black;
   width: 700px;
   height: 400px;
   background-image:aqua url(nyc.jpg) no-repeat 100% scroll;
 }